.msgContainer {
    position: fixed;
    inset-inline-end: 1rem;
    inset-block-end: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

.statusBox {
    max-width: 300px;
    overflow-wrap: break-word;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.125rem solid #ccc;
    border-radius: 0.75rem;
    text-align: center;
    animation: fadeIn var(--fade-in-duration, 500ms);
    cursor: default;
}

.success {
    background-color: var(--col-success-bg);
    border-color: var(--col-success);
    color: var(--col-success);
}

.error {
    background-color: var(--col-error-bg);
    border-color: var(--col-error);
    color: var(--col-error);
}

.warning {
    background-color: var(--col-warning-bg);
    border-color: var(--col-warning);
    color: var(--col-warning);
}

.info {
    background-color: var(--col-info-bg);
    border-color: var(--col-info);
    color: var(--col-info);
}

.statusBox.fadeOut {
    animation: fadeOut var(--fade-out-duration, 500ms) forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
