.statusBox {
    position: fixed;
    inset-inline-end: 1rem;
    inset-block-end: 1rem;
    z-index: 1000;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    margin: 10px 0;
    border: 0.125rem solid #ccc;
    border-radius: 1rem;
    text-align: center;
    animation: fadeInOut 5s;
    cursor: default;
}

.success {
    border-color: var(--col-success);
    color: var(--col-success);
}

.error {
    border-color: var(--col-error);
    color: var(--col-error);
}

.warning {
    border-color: var(--col-warning);
    color: var(--col-warning);
}

.info {
    border-color: var(--col-info);
    color: var(--col-info);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 1s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

